<!DOCTYPE html>
<html>
<head>
  <title>Your Cart</title>
</head>
<body>

<h2 style="text-align:center;">Your Orders</h2>

<table border="1" style="margin:auto;">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Restaurant</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>

  {% for order in orders %}
  <tr>
    <td>{{ order.item_name }}</td>
    <td>{{ order.price }}</td>
    <td>{{ order.restaurant }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.total_price }}</td>
  </tr>
  {% endfor %}

</table>

</body>
</html>